.main{
  border: 1px solid black;
  height: 470px;
  width: 470px;
}

.cell{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  text-align: center;
  float: left;
  /*display: inline-block;*/
}

/*.kafelek:nth-child(4n+1){
  clear: left;
  vertical-align: left;
}*/


.circle{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 2px;
}
